<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi primera pagina</title>
    </head>
    <body>
        <br>
        {% for mecanico in mecanicos %}
            
            {{mecanico.rut}},{{mecanico.nombre}},{{mecanico.apellido_paterno}},
            {{mecanico.apellido_materno}},{{mecanico.id_genero.genero}} <br>
        
        {% endfor %}
    </body>
</html>