{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS de Bootstrap-->
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ext/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/keyframes.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <title>Sign-Up - Taller Mecanico Rayo Makween</title>
</head>
<body>
    <section>
        <div class="form-box">
                <form method="POST">
                    {% csrf_token %}
                    <h2> Registrate </h2>
                    <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input type="text" required id="newuser" name="newuser">
                        <label for="newuser"> Usuario </label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required id="email" name="email">
                        <label for="email"> Correo </label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required minlength="8" id="password1" name="password1">
                        <label for="password1"> Contraseña </label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required minlength="8" id="password2" name="password2">
                        <label for="password2"> Contraseña </label>
                    </div>
                    <div>
                        <p class="error" id="error" name="error"></p>
                    </div>
                    <div class="forget">
                        <a href="#"> ¿Olvidaste tu contraseña?</a>
                    </div>
                    <button onclick=""> Registrarse </button>
                    <div class="sign-in">
                        <p> ¿Ya tienes una cuenta? <a href="http://127.0.0.1:8000/accounts/login"> Accede </a></p>
                    </div>
                </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>